# Team 441 final AP baseline: physical CPU1+CPU2 SMP NuttX/OpenVela.
# CONFIG_DEV_CONSOLE is not set
# CONFIG_MMCSD_HAVE_CARDDETECT is not set
# CONFIG_MMCSD_HAVE_WRITEPROTECT is not set
# CONFIG_MMCSD_MMCSUPPORT is not set
CONFIG_MMCSD_MULTIBLOCK_LIMIT=16
CONFIG_MMCSD_READ_MULTIBLOCK_LIMIT=1
CONFIG_MMCSD_SDIO_NO_PREERASE=y
CONFIG_MMCSD_CHECK_READY_STATUS_WITHOUT_SLEEP=y
CONFIG_SDIO_BLOCKSETUP=y
CONFIG_ALLOW_BSD_COMPONENTS=y
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/beken/boards/bk7258/aidk_ai_toy"
CONFIG_ARCH_BOARD_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="aidk_ai_toy"
CONFIG_ARCH_CHIP_ARM_CUSTOM=y
CONFIG_ARCH_CHIP_BK7258=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_DIR="../vendor/beken/chips/bk7258"
CONFIG_ARCH_CHIP_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_CHIP_CUSTOM_NAME="bk7258"
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_BK7258_AP_CORE=y
CONFIG_BK7258_AP_IPI=y
CONFIG_BK7258_AP_SMP_BOOTSTRAP=y
CONFIG_BK7258_AP_SMP_SCHED_ONLINE=y
CONFIG_BK7258_AP_SUPERVISOR=y
CONFIG_BK7258_BOARD_AIDK_AI_TOY=y
CONFIG_BK7258_PM_CLOCK=y
CONFIG_BK7258_PSRAM=y
CONFIG_BK7258_PSRAM_MEDIA=y
CONFIG_BK7258_PSRAM_SYSTEM_HEAP=y
CONFIG_BK7258_PSRAM_SYSTEM_HEAP_SIZE=0x80000
CONFIG_BK7258_PSRAM_EXT_SYSTEM_HEAP=y
CONFIG_BK7258_PSRAM_EXT_SYSTEM_HEAP_SIZE=0x400000
CONFIG_BK7258_SDK_SRAM_HEAP=y
CONFIG_BK7258_SDK_SRAM_HEAP_SIZE=0x4000
CONFIG_BK7258_RPTUN=y
CONFIG_BK7258_RPTUN_LAYOUT=y
CONFIG_BK7258_RPTUN_MBOX=y
CONFIG_BK7258_PM_COORDINATED_STANDBY=y
CONFIG_BK7258_WIFI_VNET=y
CONFIG_BK7258_AIDK_DUAL_LCD=y
CONFIG_LCD_GC9D01_NINTERFACES=2
CONFIG_BK7258_DVP=y
CONFIG_BK7258_AIDK_CAMERA=y
CONFIG_BK7258_AIDK_BSP_SELFTEST=y
CONFIG_BK7258_AUD=y
CONFIG_BK7258_MIC=y
CONFIG_BK7258_MIC_STACKSIZE=8192
CONFIG_BK7258_AIDK_SD_NAND=y
CONFIG_BK7258_SDIO_4BIT=y
CONFIG_BK7258_STORAGE_FIXED_BLOCK=y
CONFIG_BK7258_I2C=y
CONFIG_BK7258_I2C_BUS=0
CONFIG_FS_FAT=y
CONFIG_FAT_LFN=y
CONFIG_FS_PROCFS=y
CONFIG_FS_PROCFS_REGISTER=y
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_INIT_ENTRYPOINT="bk7258_ap_main"
CONFIG_MM_REGIONS=3
CONFIG_NET=y
CONFIG_NETDEV_IFINDEX=y
CONFIG_NET_SOCKOPTS=y
CONFIG_NET_TCP=y
CONFIG_NET_TCP_WRITE_BUFFERS=y
CONFIG_NET_UDP=y
CONFIG_NET_UDP_WRITE_BUFFERS=y
CONFIG_PM_NDOMAINS=3
CONFIG_RAW_BINARY=y
CONFIG_RPTUN_AUTO_RESET_DISABLE=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_HPWORK=y
CONFIG_SMP=y
CONFIG_SMP_DEFAULT_CPUSET=0x1
CONFIG_SMP_NCPUS=2
CONFIG_SYSLOG_BUFFER=y
CONFIG_SYSLOG_INTBUFFER=y
CONFIG_SYSLOG_INTBUFSIZE=512
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_PREFIX_STRING="ap"
CONFIG_SYSLOG_PRIORITY=y
CONFIG_SYSLOG_PROCESSID=y
CONFIG_SYSLOG_RPMSG=y
CONFIG_SYSLOG_RPMSG_BUFSIZE=1024
CONFIG_SYSLOG_RPMSG_SERVER_NAME="cp"
CONFIG_SYSLOG_RPMSG_WORK_DELAY=20
CONFIG_SYSLOG_TIMESTAMP=y
CONFIG_SYSTEM_TIME64=y
