# Team 441 final CP baseline: CPU0 NuttX/OpenVela + NSH + AP control.
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/beken/boards/bk7258/aidk_ai_toy"
CONFIG_ARCH_BOARD_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="aidk_ai_toy"
CONFIG_ARCH_CHIP_ARM_CUSTOM=y
CONFIG_ARCH_CHIP_BK7258=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_DIR="../vendor/beken/chips/bk7258"
CONFIG_ARCH_CHIP_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_CHIP_CUSTOM_NAME="bk7258"
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_ARCH_PERF_EVENTS=y
CONFIG_ARMV8M_SYSTICK=y
CONFIG_BUILTIN=y
CONFIG_BK7258_AP_AUTOSTART=y
CONFIG_BK7258_AP_CONTROL=y
CONFIG_BK7258_AP_SUPERVISOR=y
CONFIG_BK7258_BOARD_AIDK_AI_TOY=y
CONFIG_BK7258_AIDK_BUTTONS=y
CONFIG_BK7258_CONSOLE_UART0=y
CONFIG_BK7258_GPIO_LOWERHALF=y
CONFIG_BK7258_PM_CLOCK=y
CONFIG_BK7258_PSRAM=y
CONFIG_BK7258_PSRAM_SYSTEM_HEAP=y
CONFIG_BK7258_PSRAM_SYSTEM_HEAP_SIZE=0x18000
CONFIG_BK7258_SDK_SRAM_HEAP=y
CONFIG_BK7258_SDK_SRAM_HEAP_SIZE=0x4000
CONFIG_BK7258_RPTUN=y
CONFIG_BK7258_RPTUN_LAYOUT=y
CONFIG_BK7258_RPTUN_MBOX=y
CONFIG_BK7258_SDK_IRQ_BRIDGE=y
CONFIG_BK7258_SDK_IPC_RUNTIME=y
CONFIG_BK7258_PM_COORDINATED_STANDBY=y
CONFIG_BK7258_WIFI_VNET=y
CONFIG_CONTEST2026_441_BSP_APCTL=y
CONFIG_CONTEST2026_441_BSP_WIFI=y
CONFIG_BOARDCTL_FINALINIT=y
CONFIG_BOARDCTL_RESET=y
CONFIG_BOARDCTL_RESET_CAUSE=y
CONFIG_BOARD_RESET_ON_ASSERT=1
CONFIG_DEV_GPIO_NSIGNALS=2
CONFIG_DRIVERS_NOTE=y
CONFIG_DRIVERS_NOTECTL=y
CONFIG_DRIVERS_NOTERAM=y
CONFIG_DRIVERS_NOTERAM_BUFSIZE=16384
CONFIG_ETC_ROMFS=y
CONFIG_ETC_ROMFSMOUNTPT="/etc"
CONFIG_FS_PROCFS=y
CONFIG_FS_ROMFS=y
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_MM_REGIONS=2
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_INITSCRIPT="init.d/rcS"
CONFIG_NSH_LINELEN=256
CONFIG_NSH_READLINE=y
CONFIG_NSH_SYSINITSCRIPT="init.d/rc.sysinit"
CONFIG_RAW_BINARY=y
CONFIG_RPTUN_AUTO_RESET_DISABLE=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_LPWORK=y
CONFIG_SCHED_LPWORKPRIORITY=100
CONFIG_SCHED_LPWORKSTACKSIZE=2048
CONFIG_SCHED_WAITPID=y
CONFIG_SYSLOG_BUFFER=y
CONFIG_SYSLOG_CHARDEV=y
CONFIG_SYSLOG_DEFAULT=y
CONFIG_SYSLOG_INTBUFFER=y
CONFIG_SYSLOG_INTBUFSIZE=512
CONFIG_SYSLOG_IOCTL=y
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_PREFIX_STRING="cp"
CONFIG_SYSLOG_PRIORITY=y
CONFIG_SYSLOG_PROCESSID=y
CONFIG_SYSLOG_RPMSG_SERVER=y
CONFIG_SYSLOG_TIMESTAMP=y
CONFIG_SYSTEM_NSH=y
CONFIG_SYSTEM_SETLOGMASK=y
CONFIG_SYSTEM_TIME64=y
CONFIG_TIMER=y
CONFIG_TIMER_ARCH=y
CONFIG_TLS_NELEM=4
